$purple: #747fe0;
$text: hsl(0, 0%, 15%);

body, html {
    background-color: #f6f9fc; // rgb(231, 231, 231);
    min-height: 100vh; // to have bg colour all the way
    min-width: 100vw;
}

$navbar-background-color: transparent; // override Bulma's default of white bg colour for navbar
.navbar-menu {
    font-size: 2rem;
}


a {
    // color: $purple;
}

.section-header {
    text-align: center;
    font-size: 2rem;
    color: $text;
}
.section-header::after { // the purple "underline"
    content: "";
    border: 3px solid $purple;
    display: block;
    margin: 0 auto;
    margin-top: 0.5rem;
    width: 4rem;
}

.bio-container {
    display: grid;
    grid-template-columns: 130px 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-areas:
        "pic name"
        ". about";

    
    .bio-pic {
        grid-area: pic;
    }

    .bio-name {
        grid-area: name;
        align-self: center;

        color: $purple;
        font-size: 5vw; // 5.5rem
        // padding-left: 1rem;
    }

    .bio-about {
        grid-area: about;
        padding-left: 0.3rem;
        font-size: 1.5rem;
    }
}

.project-container {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 1rem;

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 50px 100px rgba(50,50,93,.05),0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.1);
    // overflow: hidden;
    .project-image {
        flex: 1;

        // border-top-left-radius: 4px;
        // border-bottom-left-radius: 4px;
    }

    .project-content {
        display: flex;
        flex-direction: column;
        flex: 1;

        // align-self: center; // vertically align
        padding-left: 1rem;

        justify-content: space-around;

        .project-name {
            font-size: 1.5rem;
            padding-bottom: 1rem;
        }

        .project-description {
            font-size: 1rem;
            padding-bottom: 1rem;
        }

        .project-skills {
            display:flex;
            // justify-content: flex-start;

            padding-bottom: 1rem;

            .project-skill {
                border: 2px solid #92eac0; // neon green
                border-radius: 4px;
                padding: 0.3rem;
                margin-right: 0.4rem;
                align-self: center;
            }
        }

        .project-links {

            .live-demo-button {
                color: white;
                background-color: $purple;
                border-radius: 4px;
                // border: none;
                padding: 0.7rem;
            }

            .view-source-button {

            }

            .test-button {
                // color: white;
                // background-color: $purple;
                color: $purple;
            }
        }
    }
}


@import "~bulma/bulma";